<div id="footer">
<div id="fcon1"><a href="/fabu{if $smarty.get.subject != ''}?fenlei={$smarty.get.subject}{/if}">{$CurrentCityName} 免费发布信息</a></div>
<div id="fcon2" class="con">
	&copy; 2009-2010 <a href="http://www.{$smarty.const.__SITE_DOMAIN}/">{$smarty.const.__SITE_NAME}</a> - 
	<!-- <a rel="nofollow" href="/help">帮助</a> -  -->
	<a rel="nofollow" href="/xuzhi">安全交易须知</a> -
	<a rel="nofollow" href="/xieyi">用户协议</a> -
	<a rel="nofollow" href="/lianxi">联系我们</a> - 沪ICP备07027657号
	<a href="#">回到页顶</a>
	<div id="slogan">{$CurrentCityName}{$smarty.const.__TITLE}</div>  
</div>
</div>
<script src="http://exp.jiankongbao.com/loadtrace.php?host_id=4877&style=6" type="text/javascript"></script>