<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<meta name="ROBOTS" content="ALL"/>
{$IncludeMeta}
<title>{$PageTitle}</title>
<link rel="dns-prefetch" href="http://hm.baidu.com/">
<link rel="dns-prefetch" href="http://www.google-analytics.com/">
<link rel="shortcut icon" href="{$smarty.const.__STATIC_SERVER}/img/favicon.ico" type="image/x-icon" />
<link rel="start" title="wolai123" href="/" />
{$IncludeStyle}
{$IncludeScript}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
</head>
